:root{
    font-family:'Open Sans',arial,sans-serif;
    color: #2b2b2b;
    background:#fff;
    scroll-behavior: smooth;
}

header{
    font-size: 1.5rem;
    font-weight: 800;
}

h3{
    font-weight:600;
    padding-top :75px;
    margin-top: -65px;
}
h5{
    font-size:1rem;
    font-weight: 600;
}
.main-section>ol{
    padding-left:0;
}
.main-section>ol>li{
    border-top: 2px solid #e7e9ed;
    padding-top: 1rem;
}
dd{
    margin:0;
}
.fa-question-circle{
    font-size: 1rem;
    font-weight: 600;
}
body{
    padding-top:69px;
    margin:0;
}
.doc-wrapper{
    margin-left:350px;
}
#main-doc{
    margin:0 auto;
    max-width: 1140px;
    padding:0 1rem 0 2rem;
}
.main-section{
    padding-top :75px;
    margin-top: -35px;
}
#Code>h3{
    padding-left:1rem;
    padding-top:1.5rem;
    margin-top: 0;
    border-top: 2px solid #e7e9ed;

}
.code-wrapper{
    max-width: 674px;
    overflow:auto;
    background:#222222;
    border-radius:.25rem;
    margin-bottom:2rem;
}
code{
    display:block;
}
.code-wrapper>code>pre{
    display: block;
    overflow-x:auto;
    margin:0;
    padding:1rem;
}

.doctype.comment{
    color:slategray;
}
.tag.css-attr{
    color:#f92672;
}
.punctuation{
    color:#fff;
}
.attr-name.element-css{
    color:#44b12b;
}
.attr-val.querries{
    color:#e6cc4a;
}
.function{
    color:#3e74b7;
}

#Resources>.resources-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    border-top: 1px solid #e7e9ed;
}

@media screen and (max-width: 964px) {
    .doc-wrapper{
        margin:0 auto;
    }
    #main-doc{
        padding:0 2rem;
    }
}
@media screen and (max-width: 550px) {
    #Resources>.resources-wrapper{
        flex-direction:column;
    }
}
