#navbar-top{
    width:100%;
    min-height:69px;
    position: fixed;
    z-index:20;
    top:0;
    left:0;
    box-shadow: 0 1px 4px rgba(0, 0, 0,0.2);
    background:#fff;
    display:flex;
    flex-wrap:wrap;
    /* justify-content: space-around; */
    align-items:center;

}
#showHide-navbar{
    margin-left:1rem;
    width:2rem;
    height:2rem;
    cursor:pointer;
    display:none;
}
.fas{
    font-size:2rem;
}
@media screen and (max-width: 964px) {
    #showHide-navbar{
        display:inline-block;
    }
}
